@page
@model GeoProfs.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BSN" class="control-label"></label>
                <input asp-for="User.BSN" class="form-control" />
                <span asp-validation-for="User.BSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.VacationDays" class="control-label"></label>
                <input asp-for="User.VacationDays" class="form-control" />
                <span asp-validation-for="User.VacationDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.DateService" class="control-label"></label>
                <input asp-for="User.DateService" class="form-control" />
                <span asp-validation-for="User.DateService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Comments" class="control-label"></label>
                <input asp-for="User.Comments" class="form-control" />
                <span asp-validation-for="User.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
