@page
@model GeoProfs.Pages.VerlofAanvragen.IndexModel
@{
    ViewData["Title"] = "Verlof Aanvragen";
}


<div class="row mb-auto justify-content-center">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <h2 class="d-flex justify-content-center">
                    Leave request
                </h2>
                <hr>
                <div class="">
                    <p class ="d-flex justify-content-center">Leave type</p>
                    <div class="d-flex justify-content-betweend"></div>
                        <input type="radio" id="1" name="leave_type" value="Sick">
                        <label for="sick">sick</label>
                        <input type="radio" id="2" name="leave_type" value="Vacation">
                        <label for="vacation">vacation</label>
                        <input type="radio" id="3" name="leave_type" value="Personal">
                        <label for="personal">personal</label>
                    </div>
                    <hr>
                    <div class="width:100% justify-content-center">
                        <form>
                            <label for="aInfo">Additional info:</label><br>
                            <textarea id="aInfo"></textarea>
                        </form>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <form>
                            <label for="datemin">Start:</label><br>
                            <input type="date" id="datemin" name="datemin" min="2023-00-00"><br>
                        </form>
                        <form>
                            <label for="datemax">End:</label><br>
                            <input type="date" id="datemin" name="datemax" min="2023-00-00"><br>
                        </form>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Please ignore unused code for dropdown, but fuck dropdowns! They are ugly af!

<select name="LeaveRequest" id="leaveRequest">
    <optgroup label="Leave reason">
    <option value="1">Sick</option>
    <option value="2">Vacation</option>
    <option value="3">Personal</option>
    </optgroup>
</select> *@