@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    vakantie dagen
                </p>
            </div>
        </div>
    </div>
 </div>
 MessageBox.Show("Dit is een berichtvenster.");